<%= simple_form_for(@brand) do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Brand</legend>
      <%= f.input :name %>
      <%= f.association :categories %>
      <div class="form-actions">
        <%= f.button :submit %>
        <%= link_to 'Cancel', brands_path, :class => 'btn' %>
      </div>
  </fieldset>
<% end %>
