<h1>Brand</h1>

<%= show_for @brand do |b| %>
  <%= b.attribute :name %>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', brands_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_brand_path(@brand), :class => 'btn' %>
  <%= link_to 'Delete', brand_path(@brand), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>
