<%= simple_form_for(@category) do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Category</legend>

  <%= f.input :name %>
  <%= f.association :brands %>
  <div class="form-actions">
  <%= f.button :submit %>
  </div>
  </fieldset>
<% end %>
