<%= simple_form_for(@product, remote: defined? remote) do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Product</legend>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.association :category %>
      <%= f.association :brand %>
      <div class="form-actions">
        <%= f.button :submit %>
        <%= link_to 'Cancel', products_path, :class => 'btn' %>
      </div>
  </fieldset>
<% end %>
