<tr id='<%= dom_id(product) %>'>
  <td><%= product.id %></td>
  <td><%= link_to product.name, product_path(product) %></td>
  <td><%= product.price %></td>
  <td><%= product.category_name %></td>
  <td><%= product.brand_name %></td>
  <td><%= product.created_at %></td>
  <td>
    <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-mini' %>
    <%= link_to 'Destroy', product_path(product), :method => :delete, :class => 'btn btn-mini btn-danger', remote: true %>
  </td>
</tr>
