<h1>Products</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Brand</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="products">
    <%= render @products %>
  </tbody>
</table>

<%= simple_form_for(@product, remote: true) do |f| %>
  <fieldset>
    <legend>Create Product</legend>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.association :category %>
      <%= f.association :brand %>
      <div class="form-actions">
        <%= f.button :submit %>
        <%= link_to 'Cancel', products_path, :class => 'btn' %>
      </div>
  </fieldset>
<% end %>
